@model IEnumerable<ClientList.ViewModels.ClientViewModel>;

@{
    ViewData["Title"] = "Clients";
    bool noData = Model.Count() == 0;
}
<html>
<head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/styles.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <h2>@ViewData["Title"].</h2>
                <ul class="nav">
                    <li class="nav-item">@Html.ActionLink("Home", "Index", "Client")</li>
                    <li class="nav-item">@Html.ActionLink("List Clients", "EditList", "Client")</li>
                    <li class="nav-item">@Html.ActionLink("Create Client", "Create", "Client")</li>
                    <li class="nav-item">@Html.ActionLink("List Users", "EditList", "User")</li>
                    <li class="nav-item">@Html.ActionLink("Create User", "Create", "User")</li>
                </ul>
                @if (noData)
                {
                    <p>Couldn't find any clients.</p>
                }
                else
                {
                    <ul class="list">
                        @foreach (var item in Model)
                        {
                        <li>
                            <div class="card">
                                <div class="card-body">
                                    <h3 class="card-title"><a href="Edit/@item.Id">Edit</a> - Name: @item.Name</h3>
                                    <dl>
                                        <dt>Associated Users:</dt>
                                        @foreach (var user in item.Users)
                                        {
                                            <dd id="accordion-@user.Id">
                                                <div class="card">
                                                    <div class="card-header" id="heading@user.Id">
                                                        <h5 class="mb-@user.Id">
                                                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse-@user.Id" aria-expanded="false" aria-controls="collapseOne">
                                                                @user.FirstName @user.LastName
                                                            </button>
                                                        </h5>
                                                    </div>
                                                    <div id="collapse-@user.Id" class="collapse" aria-labelledby="heading@user.Id" data-parent="#accordion-@user.Id">
                                                        <div class="card-body">
                                                            <dl>
                                                                <dt>First Name:</dt>
                                                                <dd>@user.FirstName</dd>
                                                                <dt>Last Name:</dt>
                                                                <dd>@user.LastName</dd>
                                                                <dt>Email:</dt>
                                                                <dd>@user.Email</dd>
                                                            </dl>
                                                        </div>
                                                    </div>
                                                </div>
                                            </dd>
                                        }
                                    </dl>
                                </div>
                            </div>
                        </li>
                        }
                    </ul>
                }
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>